* {
	box-sizing: border-box;
}

html{
	height: 100%;
    position:relative;
}

body {
	background-color: #151515;
    margin:auto;
	min-height: 100%;
    
    display: flex; /* CENTRALIZAR */
    
}

a {
    text-decoration: none;
}

.container {
    /* CENTRALIZAR*/
    margin:auto; 
    width:640px;
    height:480px;
}


img{
    display: flex;
    position: absolute;
    
}

.barra-ferramentas, .iniciar{
    margin-top: 462px;
}

.menu{
    margin-top: 130px;
}

.icones{
    position: absolute;
    margin-top: 70px;
    padding-left: 30px;
}

.icones img {
    display: inline;
    margin-right: 50px;
    position: relative;
}

.menu-icones {
    position: absolute;
    margin-top: 180px;
    margin-left: 10px;
}

.menu-icones img {
    position: relative;
    display: block;
    margin-bottom: 10px;
}

.fechar {
    margin-top: 437px;
    margin-left: 155px;
}

.mensageiro-login {
    margin-top: 31px;
    margin-left: 389px;
}

.mensageiro-botao {
    margin-top: 284px;
    margin-left: 467px;
}

.mensageiro-popup {
    margin-top: 147px;
    margin-left: 85px;
}

.mensageiro-ok {
    margin-top: 216px;
    margin-left: 271px;
}

.mensageiro-ajuda {
    margin-top: 215px;
    margin-left: 328px;
}

.mensageiro-fechar {
    margin-top: 36px;
    margin-left: 594px;
}

.mensageiro-popup-fechar {
    margin-top: 150px;
    margin-left: 548px;
}

.crianca-icon {
    margin-top: 174px;
    margin-left: 346px;
}

.adulto-icon {
    margin-top: 251px;
    margin-left: 346px;
}

.crianca-user {
    margin-top: 177px;
    margin-left: 410px;
}

.adulto-user {
    margin-top: 255px;
    margin-left: 410px;
}

.img_suporte {
    margin:auto;
}

.assistente_palavras {
    margin-left: 482px;
    margin-top: 173px;
    max-width: 126px;
    height: auto;
}

.assistente_planilhas {
    margin-left: 400px;
    margin-top: 300px;
    max-width: 126px;
    height: auto;
}

.img_suporte {
    margin-top: 200px;
    margin-left: 187px;;
    display: flex;
    position: absolute;
}

.interface-internet{
    margin-top: 31px;
    margin-left: 72px;
}

.pasta-desenhos, .pasta-caderno {
    margin-top: 81px;
    margin-left: 33px;
}

.pasta-adulto{
    margin-top: 81px;
    margin-left: 188px;
}